<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <ul>
                        <h1 class="footerhead">Subasta</h1>
                        <p> Copyright © 2017, BYTECLOUD. All rights reserved.</p>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3> Important Links </h3>
                    <ul>
                        <li> <a href="#"> Terms and Conditions </a> </li>
                        <li> <a href="#"> About Us</a> </li>
                        <li> <a href="#"> Help </a> </li>
                        
                    </ul>
                </div>
                <div class="col-md-4">
                        <h3> Contact Us</h3>
                        <ul>
                            <h4>Email Id:</h4>
                            <li><a href="#"> gauravw0407@gmail.com </a> </li>
                            <li> <a href="#">agrawalrohit831@gmail.com</a> </li>
                            <h4>Phone No:</h4>
                            <li>8109797908</li>
                            <li>9039888667</li>
                        </ul>
                    </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>