
<footer class="container-fluid text-center" style="background-color:#333">
       <div class=row>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                    <div class=row>
                            <div class="col-md-6 sfoot"><a href="#">Terms and Conditions</a></div>
                            <div class="col-md-3 sfoot"><a href="#">About Us</a></div>
                            <div class="col-md-3 sfoot"><a href="#">Help</a></div>
                    </div>
            </div>
        </div>
        <p class="copyright"> Copyright © 2017, BYTECLOUD. All rights reserved.</p>    
    </footer>
</body>
</html>    