<% include ./partials/header.ejs %>

<div class="add_product_container">

<form class="form-horizontal">

<!-- Text input-->
<div class="form-group">
  <div class="col-md-4">
  <input id="product_id" name="product_id" placeholder="PRODUCT ID" class="add_product form-control input-md" required="" type="text">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <div class="col-md-4">
  <input id="title" name="title" placeholder="TITLE" class="add_product form-control input-md" required="" type="text">

  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <div class="col-md-4">
    <select id="category" name="category" class="add_product form-control">
        <% categories.forEach(function(category){%>
            <option><%= category.name %></option>
        <% }); %>
    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <div class="col-md-4">
  <input id="time" name="time" placeholder="TIME" class="add_product form-control input-md" required="" type="text">
    
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <div class="col-md-4">                     
    <textarea class="add_product form-control" id="product_description" name="product_description"></textarea>
  </div>
</div>


<!-- Text input-->
<div class="form-group">
  <div class="col-md-4">
  <input id="price" name="price" placeholder="PRICE" class="add_product form-control input-md" required="" type="text">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <div class="col-md-4">
  <input id="current_bid" name="current_bid" placeholder="CURRENT BID" class="add_product form-control input-md" required="" type="text">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <div class="col-md-4">
  <input id="time_remaining" name="time_remaining" placeholder="TIME REMAINING" class="add_product form-control input-md" required="" type="text">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <div class="col-md-4">
  <input id="quantity" name="quantity" placeholder="QUANTITY" class="add_product form-control input-md" required="" type="text">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <div class="col-md-4">
  <input id="enable_display" name="enable_display" placeholder="ENABLE DISPLAY" class="add_product form-control input-md" required="" type="text">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <div class="col-md-4">
  <input id="comment" name="comment" placeholder="COMMENT" class="add_product form-control input-md" required="" type="text">
    
  </div>
</div>

    
 <!-- File Button --> 
<div class="form-group">
  <div class="col-md-4">
    <input id="upload_btn" name="upload_btn" class="input-file" type="file">
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <div class="col-md-4">
    <button id="create_bid_btn" name="create_bid_btn" class="btn btn-primary">CREATE BID</button>
  </div>
  </div>

</form>

</div>

<% include ./partials/footer.ejs %>