<% include ./partials/header %>

<script src="https://use.fontawesome.com/1dec14be15.js"></script>

  <div class="container">
    
  </div>

    <div class="container-fluid stylish-form">

    <div class="stepwizard col-md-12 col-sm-12 col-xs-12">
      <div class="stepwizard-row setup-panel">
        <div class="stepwizard-step">
          <a href="#step-1" type="button" class="step-button btn btn-primary btn-circle">1</a>
          <p>Step 1</p>
        </div>
        <div class="stepwizard-step">
          <a href="#step-2" type="button" class="step-button btn btn-default btn-circle" disabled="disabled">2</a>
          <p>Step 2</p>
        </div>
        <div class="stepwizard-step">
          <a href="#step-3" type="button" class="step-button btn btn-default btn-circle" disabled="disabled">3</a>
          <p>Step 3</p>
        </div>
      </div>
    </div>

      <div class="row mar20" >
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="inner-section">


            <form method="POST" action="/auth/register">
              <div class="mar20 inside-form setup-content" id="step-1">
                <h2 class="font_white text-center signup-text"> SIGN UP</h2>
                <!-- Name -->
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-pencil "></i></span>
                  <input type="text" class="form-control" name="user[name]" placeholder="Name..." required>
                </div>
                <!--Email --> 
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-envelope "></i></span>
                  <input type="email" class="form-control" name="user[email]" placeholder="Email..." required>
                </div>
                <!--Phone no -->
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                  <input type="tel" class="form-control" name="username" placeholder="Phone No..." required>
                </div>
                 <!-- Date of birth-->
                <div class="input-group date" id="datetimepicker">
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                  <input type="date" class="form-control" name="user[dob]" placeholder="Date of Birth.. DD-MM-YYYY" required>
                </div>

                <!-- Gender -->
                <div class="input-group">
                  <div class="maxl">
                    <label style="color:whitesmoke; font-weight:200; margin-left:10px;">Gender</label>
                    <label class="radio inline"> 
                        <input type="radio" name="user[gender]" value="male" checked>
                        <span> Male </span> 
                    </label>
                    <label class="radio inline"> 
                        <input type="radio" name="user[gender]" value="female">
                        <span>Female </span> 
                    </label>
                  </div>
                </div>
                <button type="button" class="btn btn-md btn-primary nextBtn pull-right">Next</button>
              </div>
            

            <!--****** SECOND STEP *****-->
              <div class="mar20 inside-form setup-content" id="step-2">
                <h2 class="font_white text-center signup-text"> SIGN UP</h2>
                <!-- Street -->
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-road" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="user[street]" placeholder="Street..." required>
                </div>
                <!-- Locality -->
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-home"></i></span>
                  <input type="text" class="form-control" name="user[locality]" placeholder="Locality..." required>
                </div>
                <!-- City-->
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                  <input type="text" class="form-control" name="user[city]" placeholder="City..." required>
                </div>
                <!-- State -->
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                  <input type="text" class="form-control" name="user[state]" placeholder="State..." required>
                </div>
                <!--Pincode -->
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                  <input type="text" class="form-control" name="user[pincode]" placeholder="Pincode..." required>
                </div>
                <div>
                <button type="button" class="btn btn-md btn-primary nextBtn pull-right">Next</button>
                </div>
              </div>

              <div class="mar20 inside-form setup-content" id="step-3">
                <h2 class="font_white text-center signup-text"> SIGN UP</h2>
                <!--Password -->
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock "></i></span>
                  <input type="password" class="form-control" name="password" placeholder="Password..." required>
                </div>
                <!-- Confirm Password -->
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock "></i></span>
                  <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password..." required>
                </div> 
                <div>
                  
              <button type="submit" class="btn btn-md btn-primary register-btn">REGISTER</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

<% include ./partials/signfoot %>