.add_product_container{
    margin: auto;
    width: 80%;
}

.add_product, .add_product:focus, .add_product:hover{
    color: #333;
    border-radius: 0px;
    border: 1px groove lightgray;
}

.add_product::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: black;
  }
::-moz-placeholder { /* Firefox 19+ */
    color: black;
  }