.signup-text{
    margin-bottom: 10px;
}

.stylish-form 
{
  background-image:url('https://lut.im/cOs9CbKe42/DT8DT06CeJkRsyWC.jpg'); 
  padding:10px;
}
.stylish-form h2 {
  color:#333;
  margin-top:20px;
  margin-bottom: 25px; 
}
.font_white {
  color:#fff !important;
}
.mar20 
{
  margin:15px;
}
.inner-section {
  background-color:#333;
  width:350px;
  display:block;
  margin:0 auto;
}
.inside-form{
  border-radius:8px;
  padding-top:30px;
  padding-bottom:30px;
}
.inside-form h2 {
  font-weight:700;
}
.inside-form ul {
  list-style-type:none;
  text-align:center;
  margin-top:30px;
}
.inside-form ul >li {
  display:inline-block;
}
.inside-form ul >li > i {
  margin-top:18px;
}

.input-group, .form-group {
  margin-bottom: 10px;
}
.input-group-addon {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  color: #FFFFFF;
  border-radius:25px;
}
.form-control,.form-control:focus,.form-control:hover
{
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFFFFF;
  border-radius:25px;
  border:none;
  font-size:14px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff !important;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff !important;
}
.footer {
  margin-top:40px;
  margin-bottom:40px;
}
input::placeholder {
  color: #fff !important;
}
.btn-lg {
  font-size: 1em;
  border-radius: 0.25rem;
  padding: 15px 48px;
}
.btn-round {
  border-width: 1px;
  border-radius: 30px !important;
  padding: 11px 23px;
}
.btn-neutral,.btn-neutral:focus,.btn-neutral:hover {
  background-color: #FFFFFF;
  color: #333;
}